.clients .client {
  transition: all 0.3s ease;
  box-shadow: 3px 5px 25px -5px rgba(158, 158, 158, 0.75);
  -webkit-box-shadow: 3px 5px 25px -5px rgba(158, 158, 158, 0.75);
  -moz-box-shadow: 3px 5px 25px -5px rgba(158, 158, 158, 0.75);
}
.client:hover {
  transform: scale(1.2);
  box-shadow: 0px 0px 8px 0px rgba(145, 145, 145, 0.75);
  -webkit-box-shadow: 0px 0px 8px 0px rgba(145, 145, 145, 0.75);
  -moz-box-shadow: 0px 0px 8px 0px rgba(145, 145, 145, 0.75);
}
.clients img {
  width: 100%;
  object-fit: contain;
}

.clients h3{
  line-height: 1.5;
  /* border-bottom: 2px solid #35854d; */
  position: relative;
}
.clients h3::after{
  content: '';
  width: 70%;
  height: 2px;
  background-color: #35854d;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
}